.primary-theme-color {
    background-color: #404040;
    color: whitesmoke;
}

.secondary-theme-color {
    background-color: #0c557a;
    color: whitesmoke;
}

.tri-theme-color {
    background-color: #404040;
    color: whitesmoke;
}

.accent-theme-color {
    background-color: #078b00;
    color: whitesmoke;
}