<div class="theme-colors text-light">
  
  <div class="container-fluid">

    <section class="justify-content-center">

      <div class="row p-2">

        <div data-nosnippet="true" class="col ms-auto p-2 text-center">
          <!--googleoff: all-->
          <h5>Follow Us?</h5>
          <form>
            <p>subscriptions & social coming soon</p>
          </form>
          <!--googleon: all-->
        </div>

        <div class="col ms-auto text-center">

          <div>
            <a href="/"><img height="120px" src="/assets/img/primary/logo-two.png"></a>
          </div>

          <p>
            Learning how to invest as I go and blogging about it along the way. Join me on a journey to financial success and freedom.
          </p>

        </div>

        <div class="col text-center ms-auto p-2">

          <h5>Website Info</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="/legal/privacy-policy">Privacy</a>
            </li>
            <li>
              <a href="/">Posts</a>
            </li>
            <li>
              <a href="/legal/terms-and-conditions">Terms of Use</a>
            </li>
          </ul>

        </div>

      </div>

    </section>

  </div>
  <!--googleoff: all-->
  <div data-nosnippet="true" class="text-center p-4 tri-theme-color">
    © 2022 Copyright: anidiotinvests.com
    <p class="footer-disclaimer">AnIdiotInvests (anidiotinvests.com) is a blogging and publishing platform, not a
      registered investment adviser or broker-dealer, and does not provide investment advice.
      All information provided by AnIdiotInvests (anidiotinvests.com) is of a general nature for information and
      education purposes,
      and you should not construe any such information as investment advice. AnIdiotInvests (anidiotinvests.com) does
      not take your specific needs,
      investment objectives or financial situation into consideration, and any investments mentioned may not be suitable
      for you. </p>
  </div>
  <!--googleon: all-->

</div>
