<div class="secondary-theme-color text-light">
  
  <div class="container">

    <section class="justify-content-center">

      <div class="row p-2">

        <div class="col-sm ms-auto text-center" {% if page.is_post %} data-nosnippet="true" {% endif %} >

          <div>
            <a href="/"><img height="100px" src="/assets/img/primary/logo-two.png" alt="LOGO IMG Not Found"></a>
          </div>

          <p style="font-size: 12pt;">
            Learning how to invest as I go and blogging about it along the way. Join me on a journey to financial success and freedom.
          </p>

        </div>

        <div data-nosnippet="true" class="col-sm ms-auto text-center">
          <!--googleoff: all-->
          <h5>Follow Me?</h5>
          <a href="https://pin.it/3EC0JJo"><img src="/assets/img/primary/pinterest-icon.png" class="m-2" width="45px"></a>
          <a href="https://twitter.com/anidiotinvests"><img src="/assets/img/primary/twitter-icon.png"class="m-2" width="45px"></a>
          <!-- <form>
            <p>Email subscriptions coming soon</p>
          </form> -->
          <!--googleon: all-->
        </div>

        <div class="col-sm text-center ms-auto">
          <!--googleoff: all-->
          <h5>Website Info</h5>
          <ul class="list-unstyled mb-0">
            <li class="m-2">
              <a href="about.html">About</a>
            </li>
            <li class="m-2">
              <a href="/legal/privacy-policy">Privacy</a>
            </li>
            <li class="m-2">
              <a href="/">Posts</a>
            </li>
            <li class="m-2">
              <a href="/legal/terms-and-conditions">Terms of Use</a>
            </li>
          </ul>
          <!--googleon: all-->

        </div>

      </div>

    </section>

  </div>
  <!--googleoff: all-->
  <div data-nosnippet="true" class="text-center p-4 tri-theme-color">
    © 2022 Copyright: anidiotinvests.com
    <p class="footer-disclaimer">AnIdiotInvests (anidiotinvests.com) is a blogging and publishing platform, not a
      registered investment adviser or broker-dealer, and does not provide investment advice.
      All information provided by AnIdiotInvests (anidiotinvests.com) is of a general nature for information and
      education purposes,
      and you should not construe any such information as investment advice. AnIdiotInvests (anidiotinvests.com) does
      not take your specific needs,
      investment objectives or financial situation into consideration, and any investments mentioned may not be suitable
      for you. </p>
  </div>
  <!--googleon: all-->

</div>
