<header class="posts-header no-select-txt" id="posts-home-header-id">
    <img src="/assets/img/primary/graph-contrast.png">
    <div class="test-ani-container">
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
        <div class="test-ani"></div>
    </div>
    <div class="posts-header-title">
        <h1>An Idiot Invests</h1>
        <h2>Investing Lifestyle Finance</h2>
    </div>
</header>
