<div class="no-select footer-container">
    <div class="footer-content">
        <div class="social-footer" data-nosnippet="">
            <a href="https://instagram.com/beyondthestonks/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/img/social/ig-instagram-icon.svg" alt="Img Not Found" draggable="false">
            </a>
            <a href="https://x.com/beyondthestonks/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/img/social/twitter-square-icon.svg" alt="Img Not Found" draggable="false">
            </a>
            <a href="https://youtube.com/@beyondtheStonks" target="_blank" rel="noopener noreferrer">
                <img src="/assets/img/social/youtube-app-icon.svg" alt="Img Not Found" draggable="false">
            </a>
        </div>
    </div>

    <div class="footer-copy" data-nosnippet="">
        <span>© Beyond The Stonks. All Rights Reserved </span>
    </div>
</div>