<div class="container" data-nosnippet>

    <a class="no-format-click" href="/">
    <nav class="nav">
            <div class="logo">
                <!-- Replace with your logo image -->
                <img src="/assets/img/logo.png" alt="Site Logo" />
                <!-- Or use text instead of image -->
            </div>
            <h1>Beyond The Stonks</h1>
            <!-- <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a></li>
            </ul> -->
        </nav>
    </a>
</div>