.holographic-container {
    justify-content: center;
    align-items: center;
}

.holographic-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    min-width: 200px;
    height: 55px;
    margin: 10px auto 0;
    background: var(--backgroundColorSec);
    overflow: hidden;
    border-radius: 20px;
}

.holographic-card:hover {
    box-shadow: 0 0 20px var(--hoverGreen);
}

.holographic-card a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.holographic-card img {
    height: 110%;
    border-radius: 30%;
}

.holographic-card p {
    font-size: 18pt;
    padding-left: 20px;
}

@media (max-width: 660px) {
    .flexit-item img {
        height: 150px;
        margin: auto;
    }

    .holographic-card p {
        font-size: 14pt;
    }
}