.quick-news-container {
  flex-grow: 1;
}

#posts {
  flex-grow: 4;
}

.post * {
  text-decoration: none;
  font-size: 15pt;
}

.post {
  margin-top: 10px;
}

.post p {
  margin: auto;
  font-size: 11pt;
  color: var(--thrColor);
}

.post a {
  margin: auto;
  font-size: 16pt;
}

#dashboard p {
  font-size: 12pt;
}

#recent-post {
  max-width: 400px;
  margin: auto;
}

#recent-post img {
  /* max-height: 230px; */
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
}

#recent-post:hover * {
  color: var(--hoverGreen) !important;
  cursor: pointer;
}

.flex-full {
  flex: 1 1 100%;
}

h1,
h2 {
  margin-top: 1px;
  margin-bottom: 4px;
}