.pageinator {
    display: inline-block;
    text-align: center;
    width: auto;
}

.sample-post-text {
    line-height: 1.5;
}

.sample-post-text p {
    font-size: 12pt;
}

.post-listing-card {
    position: relative;
    color: whitesmoke;

    padding: 12px;
    max-width: 364px;
    min-width: 275px;
    height: 480px;
    margin: 0px 7px 40px 7px;

    overflow: hidden;
    text-align: left;
    
}

.post-listing-card:hover {
    -moz-box-shadow: 1px 1px 10px #1e1e1e; 
    -webkit-box-shadow: 1px 1px 10px #1e1e1e; 
    box-shadow: 1px 1px 10px #1e1e1e;
    -webkit-transition: box-shadow 0.1s ease-in-out 0s;
    -moz-transition: box-shadow 0.1s ease-in-out 0s;
    -o-transition: box-shadow 0.1s ease-in-out 0s;
    -ms-transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s;

    transform: scale(1.02);
    border-bottom: solid #0dc200 2px;
    border-top: solid #0dc200 2px;

    cursor: pointer;
}

.post-listing-card:hover a {
    color: #0dc200;
}

.post-listing-card img {
    overflow: hidden;
    object-fit: cover;
    vertical-align: middle;    
    height: 51%;
    margin-bottom: 10px;
    width: 100%;
}

.post-listing-card h2 {
    padding: 0;
    margin: 0;
    font-size: 17pt;
    /* min-height: 20px; */
    overflow: hidden;
}

.date-posted-stamp {
    padding: 0;
    margin: 5px 0px 10px 0px;
    font-style: oblique;
}

.date-posted-stamp p {
    font-size: 11pt;
}

.posts-header {

    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */


    z-index: 1;
    width: 100%;
    height: 50vh;
    max-height: 1000px;
    min-height: 290px;
    box-shadow: black 1px 1px 10px;
    background: url('../img/graph-contrast.png') no-repeat;

    position: relative;
    text-align: center;

    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.posts-header-title {
    text-align: center;
    position: absolute;
    padding-bottom: 30px;

    bottom: 0;
    left: 0;
    right: 0;
}

.posts-header-title h1 {
    font-size: 44pt;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 3px 3px 1px #0c557a;
}

.posts-header-title h2 {
    font-style: oblique;
    font-size: 18pt;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 2px 2px 1px #0c557a;
}

.featured-posts-title {
    height: 100px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.featured-posts-title h2 {
    /* text-shadow: 1px 1px 3px black; */
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    /* color: whitesmoke; */
}

.featured-posts-title:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 400px;
    width: 100%;
    transform: SkewY(4deg);
    transform-origin: bottom left;
    box-shadow: black 1px 1px 10px;
    background: inherit;
}
