.pageinator {
    display: inline-block;
    text-align: center;
    width: auto;
}

.sample-post-text {
    line-height: 1.5;
}

.sample-post-text p {
    font-size: 12pt;
}

.post-listing-card {
    position: relative;

    max-width: 364px;
    min-width: 275px;
    height: 480px;
    margin: 0px 7px 40px 7px;

    overflow: hidden;
    text-align: left;
}

.post-listing-card img {
    border-bottom: solid gray 1px;
    object-fit: cover;
    vertical-align: middle;    
    height: 51%;
    margin-bottom: 10px;
    width: 100%;
}

.post-listing-card h2 {
    padding: 0;
    margin: 0;
    font-size: 17pt;
    /* min-height: 20px; */
    overflow: hidden;
}

.date-posted-stamp {
    padding: 0;
    margin: 5px 0px 10px 0px;
    font-style: oblique;
}

.date-posted-stamp p {
    font-size: 11pt;
}

.posts-header {
    z-index: 1;
    width: 100%;
    height: 50vh;
    max-height: 1000px;
    min-height: 290px;
    box-shadow: black 1px 1px 10px;
    background: url('../img/front-page-edit2.png') no-repeat;

    position: relative;
    text-align: center;

    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.posts-header-title {
    text-align: center;
    position: absolute;
    padding-bottom: 30px;

    bottom: 0;
    left: 0;
    right: 0;
}

.posts-header-title h1 {
    font-size: 44pt;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 2px 2px 1px black;
}

.posts-header-title h2 {
    font-style: oblique;
    font-size: 18pt;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 2px 2px 1px black;
}

.featured-posts-title {
    height: 100px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.featured-posts-title h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    color: whitesmoke;
}