.profile-header-about {
    width: 100%;
    text-align: left;
    padding: 0;
}

.author-component {
    display: flex;
    margin: 0;
    padding: 0;
}

.author-component h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.profile-name {
    display: flex;
    margin-bottom: 30px;
    padding: 0;
}

.profile-pic, .profile-pic-component {
    border-radius: 30%;
    margin-right: 22px;
    border: 2px solid whitesmoke;
    box-shadow: gray 0px 2px 2px;
}

.profile-pic {
    width: 90px;
    height: 90px;
}

.profile-pic-component {
    width: 60px;
    height: 60px;
}