* {
  font-family: Arial, sans-serif;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  max-width: 800px;
}

.post-list-class a {
  color: rgb(5, 114, 255);
  cursor: pointer;
  font-size: 11pt;
}

.post-list-class ul {
  list-style: none;
  padding: 0;
}

.post-list-class li {
  padding: 5px;
}

#post-content {
  padding: 80px 0;
}

#post-content a {
  color: rgb(5, 114, 255);
}

#post-content h1 {
  font-size: 42pt;
}

header,
footer {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
}

header {
  height: 80px;
  top: 0;
}

footer {
  text-align: center;
  font-size: 10pt;
  bottom: 0;
}

.logo img {
  height: 80px;
  display: flex;
  align-items: center;
}

.top-nav {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-nav a {
  text-decoration: none;
  font-size: 11pt;
}

.top-nav ul {
  margin-left: auto;
}

.top-nav li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.no-format-click {
  all: unset;
  cursor: pointer;
}