:root {
  --baseGreen: rgb(0, 105, 47);
  --hoverGreen: rgb(10, 197, 94);

  --backgrouncColor: rgb(24, 24, 24);
  --backgrouncColorSec: #0d0b17;

  --headerHeight: 58px;
  --footerHeight: 80px;
}

* {
  font-family: Arial, sans-serif;
  color: whitesmoke;
}

body,
html {
  background-color: var(--backgrouncColor);
  padding: 0;
  margin: 0;
}

body p {
  font-size: 15pt;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

a {
  color: var(--baseGreen);
  cursor: pointer;
}

a:hover {
  color: var(--hoverGreen);
}

.container {
  margin: auto;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
}

.active {
  color: var(--hoverGreen) !important;
}

.content-container {
  padding-top: var(--headerHeight);
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

.content-container h1 {
  font-size: 44pt;
}

header,
footer {
  width: 100%;
  background-color: var(--backgrouncColor);
  z-index: 100;
}

header {
  position: fixed;
  height: var(--headerHeight);
  top: 0;
  box-shadow: 0 4px 2px -2px black;
}

footer p {
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  /* margin-top: 8px; */
  font-size: 10pt;
  height: var(--footerHeight);
  overflow: hidden;
}

.logo img {
  height: var(--headerHeight);
  display: flex;
  align-items: center;
}

.top-nav {
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-nav a {
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
}

.top-nav ul {
  margin-left: auto;
}

.top-nav li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.no-format-click {
  all: unset;
  cursor: pointer;
}

.no-select {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.social-footer img {
  width: 30px;
}

.social-footer a {
  text-decoration: none;
}

/* HERO */

.flexit {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flexit-item {
  display: flex;
  height: inherit;
  max-width: 50%;
  min-width: 50px;
  margin: auto;
  align-items: center;
}

.flexit-item img {
  height: 230px;
  margin: auto;
  border-radius: 15px;
}

.hero-header {
  margin-top: 8px;
}

.hero-header p {
  font-size: 24pt;
}

@media (max-width: 660px) {
  .content-container h1 {
    font-size: 30pt;
  }

  .flexit-item img {
    height: 150px;
    margin: auto;
  }

  .hero-header p {
    font-size: 14pt;
  }
}

@media (min-width: 2100px) {
  .container {
    max-width: 1100px;
  }

  .flexit-item img {
    height: 300px;
    margin: auto;
  }

  .hero-header p {
    font-size: 30pt;
  }
}