:root {
  --baseGreen: rgb(0, 143, 64);
  --hoverGreen: rgb(10, 197, 94);
  --backgroundColor: rgb(24, 24, 24);
  --secColor: rgb(29, 29, 29);
  --glassColor: rgba(29, 29, 29, 0.3);
  --thrColor: #b8b8b8;
  --headerHeight: 58px;
  --footerHeight: 80px;
  --masterContainerWidth: 1300px;
  --base-font-size: 16;
  --text-size-scale: 1;
}

* {
  font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
  color: whitesmoke;
}

html,
body {
  font-size: 1rem;
  height: 100%;
  /* background-color: var(--backgroundColor); */
  overflow: hidden;
}

html {
  background: var(--backgroundColor);
  background:
    conic-gradient(from 135deg, #1d1d1d 90deg, #0000 0) 45px calc(45px/2),
    conic-gradient(from 135deg, #181818 90deg, #0000 0),
    conic-gradient(from 135deg at 50% 0, #1d1d1d 90deg, #0000 0) #181818;
  background-size: 90px 45px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-size: calc((16 / var(--base-font-size)) * var(--text-size-scale) * 1rem);
  letter-spacing: 0;
}

body p {
  margin: .25em 0 .75em;
  line-height: 1.5;
}

a {
  color: var(--baseGreen);
  cursor: pointer;
  text-decoration: none;
}

a:hover,
.active {
  color: var(--hoverGreen) !important;
}

.container {
  margin: auto;
  max-width: var(--masterContainerWidth);
  padding: 0 10px;
  z-index: 1;
}

.content-container {
  padding-top: var(--headerHeight);
  min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
}

.post-content {
  max-width: 840px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.post-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-height: 380px;
  padding: 10px;
  gap: 0.5rem;
  box-sizing: border-box;
}

.post-image-container img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  object-fit: contain;
  overflow: hidden;
  border-radius: 8px;
}

.spec-text {
  font-size: 11pt;
  font-style: italic;
}

header,
footer {
  width: 100%;
  background-color: var(--backgroundColor);
  z-index: 5;
}

header {
  position: fixed;
  height: var(--headerHeight);
  top: 0;
  box-shadow: 0 4px 2px -2px black;
}

footer {
  text-align: center;
  font-size: 10pt;
  height: var(--footerHeight);
  overflow: hidden;
}

footer p {
  margin: 0;
  padding: 0;
}

.logo img {
  height: var(--headerHeight);
  display: flex;
  align-items: center;
}

.top-nav {
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-nav a {
  font-size: 12pt;
  font-weight: bold;
}

.top-nav ul {
  margin-left: auto;
}

.top-nav li {
  display: inline;
  padding: 0 10px;
}

.no-format-click,
.do-nothing {
  all: unset;
  cursor: pointer;
}

.no-select,
.do-nothing {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.do-nothing {
  pointer-events: none;
}

.social-footer img {
  width: 30px;
}

.social-footer a {
  text-decoration: none;
}

.mobile-btn {
  width: 0;
  height: 0;
  visibility: hidden;
}

@media (max-width: 660px) {

  .top-nav .mobile-btn {
    position: absolute;
    float: right;
    visibility: visible;

    border: none;
    background-color: transparent;
    color: transparent;

    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
  }

  .top-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--secColor);
    padding-left: 0;
    margin: 0;
  }

  .top-nav ul a {
    display: block;
    align-items: end;
    margin: auto;
  }

  .top-nav li {
    display: block;
    align-items: end;
    width: 100%;
    padding: 10px;
  }

  .nav-visible {
    height: auto;
    visibility: visible;
  }

  .nav-not-visible {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.flex-container {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
}

.flex-container>* {
  margin: 8px;
  /* This will force only one -> two per row as long as you keep the same grow ratio */
  flex: 1 1 calc(var(--masterContainerWidth) / 4);
  padding: 15px;
  border-radius: 6px;
}

.glass {
  background: var(--glassColor);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border-radius: 8px;
  z-index: 1;
}