.ticker-container {
    position: fixed;
    z-index: 1;
    /* bottom: 300; */
    padding-top: var(--headerHeight);
    /* height: var(--headerHeight); */
    /* overflow: hidden; */
    width: 100%;
}

.ticker-container:hover {
    pointer-events: none;
}

@media (max-width: 660px) {
    .ticker-container {
        pointer-events: none;
    }

    .ticker-container iframe {
        pointer-events: none;
    }

    .ticker-container iframe:hover {
        pointer-events: none;
    }
}