---
layout: primary
---

<!--googleoff: all-->
<div class="profile-container no-select-txt primary-theme-color" data-nosnippet="true">

    <div class="profile-header">
        <div class="row profile-header-title">
            <div class="col-sm">
                <img src="/assets/img/profile/raccoon.png">
            </div>
            <div class="col-sm">
                <h2>Name: {{ page.username }}</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <article id="bio-post-id">
            <h2>Bio</h2>
            {{ content }}
        </article>
    </div>

</div>
<!--googleon: all-->