---
layout: primary
---

<div class="posts-header">
    <!-- <div class="container"> -->
        <div class="posts-header-title">
            <h1>An Idiot Invests</h1>
            <h2>Investing Lifestyle Finance</h2>
        </div>
    <!-- </div> -->
</div>

<div class="post-content">

    <div class="featured-posts-title">
        <h3>Featured Blog Posts</h3>
    </div>

    <table id="postContainer" class="posts-pagination-table">

    {% for post in site.posts %}

        <div class="pageinator">
            <div class="post-listing-card">
                <img src=" + f.imgUrl + " alt="Img Not Found">

                <div class="container-fluid">

                    <h2> <a class="anc-hover" href="{{ post.url | absolute_url }}">{{ post.title }}</a> </h2>
                    <p class="sample-post-text">...</p>

                    <div class="date-posted-stamp">
                        <p>Date Posted: {{ post.date }} </p>
                    </div>

                </div>

            </div>
        </div>

    {% endfor %}

    </table>

</div>

