---
layout: primary
---

<div class="blog-content tri-theme-color">
    <article id="blog-post-id">
        {% include content-header.html %}
        {{ content }}
    </article>
</div>

<!--googleoff: all-->

<div data-nosnippet="true" class="secondary-theme-color text-center featured-posts-title">
    <div class="post-content">
        <h2>Want More Content?</h2>
    </div>
</div>

<div data-nosnippet="true" class="post-content">

    <table id="postContainer" class="posts-pagination-table">
        {% assign count = 0 %}
        {% for post in site.posts limit: 4 %}
            {% if post.title != page.title %}
                {% if count != 3 %}
                    {% include postination.html %}
                    {% assign count = count|plus:1 %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>

    <div class="p-5">
        <div class="take-me-home-a-btn">
            <a href="/">Take Me Home!</a>
        </div>
    </div>

</div>

<!--googleon: all-->