---
primary-css:
- "/css/animations.css"
- "/css/styles.css"
- "/css/posts.css"
- "/css/theme-colors.css"
---

<!DOCTYPE html>
<html lang="en" class="page-fade-in">

{% include head.html %}

<body class="primary-theme-color">
  <header id="primary-top-nav-header-id no-select-txt">
    {% include top-nav.html %}
  </header>

  <main id="primary-main-content-footer-id">
    {{ content }}
  </main>

  <footer id="primary-bot-nav-footer-id">
    {% include bottom-nav.html %}
    {% include cookie-consent.html %}
  </footer>

  <script>

    window.addEventListener("load", function () {
      const boostrapMinJs = document.createElement("script");
      const cookieConsentJs = document.createElement("script");

      boostrapMinJs.src = "/assets/js/bootstrap/bootstrap.min.js";
      boostrapMinJs.crossorigin = "anonymous";
      boostrapMinJs.type = "text/javascript"

      cookieConsentJs.src = "/assets/js/cookie-consent.js";
      cookieConsentJs.type = "text/javascript"

      document.body.appendChild(boostrapMinJs);
      document.body.appendChild(cookieConsentJs);
    });

  </script>

</body>

<script>
  function goTo(url) {
    window.location.href = url;
  }
</script>

</html>